.playlists {
	background-color: #000;
	@media screen and (max-width: 568px) {
		text-align: center;
	}

	&__header {
		padding: 12px;
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 568px) {
			flex-direction: column-reverse;
		}
	}

	&__content {
		margin: auto;
		padding: 24px;
		max-width: calc((300px + 24px) * 4);
	}

	&__message {
		font-size: 30px;
		color: #fff;
		font-weight: bold;
		@media screen and (max-width: 568px) {
			margin-top: 32px;
		}
	}

	&__logged-user {
		font-size: 30px;
		color: #fff;
		font-weight: bold;
	}

	&__filter {
		padding-left: 12px;
		width: 300px;

		@media screen and (max-width: 568px) {
			margin: auto;
		}

		input {
			color: #fff !important;
		}
	}

	&__list-container {
		text-align: center;
		display: inline-block;
	}

	&__list {
	}

}