@import "views/scss/theme.scss";

.keyboard-simulator {
	min-height: 55px;

	&__text {
		font-size: 24px;
		text-transform: uppercase;
		color: $white;
		font-weight: bold;
	}

	&__inputing {
		color: $spotify-green;
	}

	&__cursor {
		margin-left: 2px;
		margin-bottom: -3px;
		width: 10px;
		height: 25px;
		background-color: $spotify-green;
		display: inline-block;

		&--idle {
			animation: blink 2s step-start 0s infinite;
		}
	}
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
