$black: #000;
$white: #fff;
$filter-background: #f7f7f7;
$spotify-green: #1db954;
$disabled: #808080;
$scrollbar: rgba(0, 0, 0, .102);
$card-fade: rgba(0, 0, 0, .302);
$spotify-gray: #282828;
$spotify-pink: #c074b2;
$spotify-blue: #8ab5e8;
