@font-face {
	font-family: 'Circular';
	src: url('/fonts/CircularStd-Book.otf') format('truetype');
}
body {
	margin: 0;
	padding: 0;
	background-color: #000;
}

body * {
	font-family: Circular, sans-serif;
}
